/* 页面头部内容、查询条件、书籍列表、底部开发者信息、导航栏*/

.app-header,
.app-search,
.app-content,
.app-footer,
.app-menu {
    padding: 3px;
    background-color: #fff;
    clear: both;
}

.app-header {
    text-align: center;
    line-height: 2.5em;
}

.app-search,
.app-content,
.app-footer {
    line-height: 1.25em;
}

.app-search {
    border-bottom: 1px solid #ccc;
}

/* 顶部开发者信息相关内容 */

.app-footer {
    text-align: right;
    margin-bottom: 55px;
}

/* 底部导航栏相关内容 */

.app-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 2.5em;
    height: 55px;
    text-align: center;
    line-height: 1.25em;
}

/* 返回顶部按钮 */

.divanchor {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    display: none;
}

.divanchor>a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../assets/top.png);
    background-size: cover;
}