body,div{
	padding: 0;
	margin: 0;
}

.container-1{
	/*display: block;*/
}

.dis-block{
	display: block;
	width: 120px;
	height: 120px;
	border: 2px solid #eee;
	background-color: #009DE7;
}

.container-2{
	/*display: inline-block;*/
	/*display: inline-block;间距默认占据空位，间距和行高最大高度根据父级字符大小*/
	/*垂直對齊方式：文本基綫*/
	font-size: 0;
}

.dis-inline-block{
	display: inline-block;
	width: 120px;
	height: 120px;
	font-size: 13px;;
	border: 2px solid #eee;
	background-color: #009DE7;
}

.container-3{
	/*display: inline;*/
}

.dis-inline{
	display: inline;
	width: 120px;
	height: 120px;
	border: 2px solid #eee;
	background-color: #009DE7;
}

.container-4{
	/*float: left;*/
	overflow: hidden;
	/*垂直對齊方式：框頂部*/
}

.dis-float{
	float: left;
	width: 120px;
	height: 120px;
	border: 2px solid #eee;
	background-color: #009DE7;
}
